<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="estilos.css">

</head>
<body>
    <div>
        {{#correo}}<p>El correo {{.}} no existe o la contrase&ntilde;a es err&oacute;nea</p>{{/correo}}
        <h1>Creacion de Personajes RPG</h1>
        <form action="login" method="post">
            
            <div><input type="email" name="correo" id="" placeholder="Correo"></div>
            <div><input type="password" name="password" id="" placeholder="Password"></div>
            
            <div><button type="submit">Ingresar</button></div>

        </form>

        <p><a href="registroUsuario">Crear Usuario</a></p>

    </div>
</body>
</html>